.modalAccount {
    display: flex;
    flex-wrap: wrap;
}

.modalAccountHeader {
    width: 100%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid grey;
}

#modalAccountNameInput {
    margin: 2.5%;
    width: 45%;
}

#modalAccountPassInput {
    margin: 2.5%;
    width: 45%;
}

#modalAccountPassInput > * {
    width: 95%;
    margin: 1%;
    font-weight: bold;
}

#modalAccountNameInput > * {
    width: 95%;
    margin: 1%;
    font-weight: bold;
}
